# Python
__pycache__/
*.pyc

# Environments
.venv/

# Jupyter
.ipynb_checkpoints/
exploration.ipynb
notebooks/.ipynb_checkpoints/

# Data & Outputs
data/
outputs/

# models/ weights
*.pth
*.pt

# OS/editor 
.DS_Store
*.code-workspace

notebooks/colab_prepare_banks.ipynb
